.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

input {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 5px;
}
table {
    width:  100%;
    border-collapse: collapse;
}

tr {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

img {
    border-radius: 50%;
}

.btn-container {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #80808046;
    color: #000;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #80808079;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
}

form input {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 6px 10px; 
}

.delete-btn{
    margin: 10px;
    background-color: hsl(0, 100%, 60%);
}

.delete-btn:hover{
    background-color: hsl(0, 100%, 50%);
}